.Main {
  border: 1px solid red;
  margin-top: 2em;
  /* min-height: 80vh; */
  /* min-width: 80vw; */
  max-width: 80vw;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "filters-and-results beverage";
  position: relative;
}