.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  /* border: 1px solid white; */
  min-height: 20vh;
  font-size: calc(20px + 1.5em);
  letter-spacing: .35em;
  max-width: 90vw;
}

.Header > h1 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 1%;
  font-weight: 500;
}