.Result {
  min-width: 8vw;
  max-width: 8vw;
  /* border: 2px solid rgb(0, 0, 0); */
  margin: 1.5vw .75vw 0;
  position: relative;
  background-color: rgb(185, 98, 27);
}

.Result:hover {
  background-color: gray;
}

.Result > img {
  width: 100%;
  height: auto;
}

.bevName {
  font-size: .9em;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0%;
  width: 100%;
  /* min-height */
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 2px / 1px;
  /* margin: -14px; */
  /* left: 50%; */
}

.thumbs {
  border-radius: 2px / 1px;
  box-shadow:
    1px 0px 1px 2px rgb(66, 44, 0),
    -1px 0px 1px 2px rgb(66, 44, 0),
    5px 0px 5px 1px rgb(185, 98, 27),
    -5px 0px 5px 1px rgb(185, 98, 27),

    0px 1px 1px 2px rgb(66, 44, 0),
    0px -1px 1px 2px rgb(66, 44, 0),
    0px 5px 5px 1px rgb(185, 98, 27),
    0px -5px 5px 1px rgb(185, 98, 27)
  ;

}

.thumbImg {
  border-radius: 2px / 1px;
}