@import url(normalize.css);
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');

body {
  background-color: rgb(41, 27, 19);
  color: rgb(250, 208, 118);
  font-family: 'Zilla Slab', serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}